@using TrainingApp.Models.TrainerScheuleModel
@model TrainerSchedule
@{
    ViewData["Title"] = "Confirm Delete Trainers Schedule";
}

<h1>Confirm Delete Trainers Schedule</h1>

<div asp-validation-summary="All" class="text-danger"></div>
@{ 
    // Warning Label
}

<form asp-controller="TrainerSchedule" asp-action="DeleteTrainersSchedule" method="post">

    @Html.HiddenFor(m => m.trainerId)

    <div class="form-group">
        <label>Trainer:</label>
        <input readonly asp-for="trainerId" class="form-control" />
    </div>
    <div class="form-group">
        <label>Schedule Start Date and Time</label>
        <input readonly asp-for="trainerScheduleStartDateTime" class="form-control" />

    </div>
    <div class="form-group">
        <label>Schedule End Date and Time</label>
        <input readonly asp-for="trainerScheduleEndDateTime" class="form-control" />

    </div>

    <button type="submit" class="btn-primary">Delete Trainer</button>
</form>
